/* I am implementing this file after creating the design,
Further we can breakdown component wise and use according to frontend design */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-primary: #2c2d1e;
  --color-secondary: #f3f3f3;
  --color-tertiary: #ececec;
  --color-least-imp: rgb(167, 167, 167);
  --font-x-small: 0.8rem;
  --font-reg: 1rem;
  --font-med: 1.3rem;
  --font-large: 3rem;
  --color-dominant: #cedd3a;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  color: var(--color-primary);
}

.font-x-small {
  font-size: var(--font-x-small);
}

.input-element {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  background-color: var(--color-tertiary);
  outline: none;
  line-height: 1.8;
  font-size: var(--font-med);
  margin-right: 5px;
}

.fw-bold {
  font-weight: 800;
}

.color-grey {
  color: grey;
}

.section-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-container-left {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-dominant);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-container-center {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150%;
  overflow: hidden;
  background-color: var(--color-dominant);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-container-right {
  padding: 2rem;
  overflow: auto;
}

.btn-search {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  margin-left: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-search:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.heading-main {
  font-size: var(--font-large);
}

select {
  width: 135px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 105px;
  color: var(--color-primary);
  outline: none;
}

.section-job-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.job-card {
  border-radius: 5px;
  background-color: var(--color-tertiary);
  -webkit-box-shadow: 0 0 20px var(--color-tertiary);
          box-shadow: 0 0 20px var(--color-tertiary);
  margin-bottom: 2rem;
  width: 100%;
}

.job-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.job-card span {
  font-size: var(--font-x-small);
  display: inline-block;
}

.job-logo {
  height: 100px;
  min-width: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-right: 1rem;
}

.job-details-main h3 {
  line-height: 1.2;
}

.job-details-main span {
  display: block;
}

.job-details-extra > div {
  width: 33%;
}

.job-details-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.job-details-extra .pill {
  padding: 0.2rem 0.5rem;
  background-color: var(--color-least-imp);
  border-radius: 50px;
  font-size: var(--font-x-small);
  margin-bottom: 0.5rem;
}

.job-details-extra .team-member {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.job-details-extra .question {
  font-style: italic;
}

.job-details-extra .span {
  font-size: var(--font-x-small);
  color: var(--color-least-imp);
}

.job-details-extra .mini-card {
  margin-right: 2rem;
}

.job-details-extra .mini-card:last-child {
  margin-right: 0;
}

.job-card-bottom {
  background-color: var(--color-secondary);
  padding: 1.5rem 1rem;
}

.job-card-bottom .job-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-card-bottom .job-cta .btn-cta {
  display: inline-block;
  background-color: var(--color-least-imp);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  margin: 2px;
}

.job-card-bottom .job-cta .btn-cta:hover,
.job-card-bottom .job-cta .btn-cta-main:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.job-card-bottom .job-cta .btn-cta-main {
  background-color: var(--color-dominant);
  color: var(--color-primary);
  text-transform: uppercase;
}

.section-people {
  padding: 2rem;
}

.people-card {
  padding: 1rem;
  width: 100%;
  background-color: var(--color-tertiary);
  -webkit-box-shadow: 0 0 20px var(--color-tertiary);
          box-shadow: 0 0 20px var(--color-tertiary);
  border-radius: 5px;
}

.people-card-image-section {
  background-color: var(--color-secondary);
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.people-card-image-section img {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
}

.people-card-image-section span {
  font-size: var(--font-x-small);
}

.people-card-about-section {
  margin-bottom: 1rem;
}

.people-card-about-section span {
  font-size: var(--font-x-small);
  color: var(--color-least-imp);
}

.people-card-contact-section {
  margin-bottom: 1rem;
}

.people-card-contact-section > span {
  color: var(--color-least-imp);
  font-size: var(--font-x-small);
}

.people-card .skill-card {
  background-color: var(--color-secondary);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.people-card .skill-card span {
  display: block;
}

.people-card .btn-people {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  background-color: var(--color-dominant);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.people-card .btn-people:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
/*# sourceMappingURL=style.css.map */
